/**
 * = Profile cards
 */



.card-image{
    .dropdown {
        position: absolute;
        right: 1rem;
        top: 1rem;
    }
}

.profile-cover{
    @include background-image(no-repeat, cover); 
    height: 175px;
}
.profile-image{
    width: 6rem;
    height: 6rem;
}
.profile-image-small{
    width: 4rem;
    height: 4rem;
}

@include media-breakpoint-down(md) {
    .profile-image{
        width: 3rem;
        height: 3rem;
    }
}
       
